.area {
  height: 400px;
  background-color: cadetblue;
  color: beige;
}
.flash
{
  background-color: cyan;
  color: darkolivegreen;
}
.green 
{
  height: 100px;
  background-color: greenyellow;
  
}
.red 
{
  height: 100px;
  background-color: red;
  
}